body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #F9FAFB;
}

.navbar {
    background-color: #4F46E5; 
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    margin-left: 20px;
    font-weight: 500;
}
.navbar a:hover{
    text-decoration: underline;
}

.container{
    padding: 40px;
    max-width: 1100px;
    margin: auto;
}

.card{
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
    transition: 0.2s ease, box-shadow 0.2s ease;
}
.card:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.8);
}

.card-flex{
    display: flex;
    align-items:center;
    gap: 25px;
}

.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.profile-large{
    width:160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.stars{
    color:#FBBF24;
    font-size: 18px;
    margin: 5px 0;
}

button{
    background-color: #4F46E5;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight:500;
    transform: background-color 0.2s ease, transform 0.1s ease;
}

button:hover{
    background-color: #4338CA;
    transform: scale(1.03);
}

.green-btn{
    background-color: #10B981;
}

.green-btn:hover{
    background-color: #059669;
}

input{
    width:100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    margin-top: 5px;
}

.chat-box{
    background: #F9FAFB;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.message-input{
    display: flex;
    gap: 10px;
}

.message-input input{
    flex: 1;
}